.active{
  background-color: black;
}
.navbar{
  padding: 0 1rem;
}
.navbar-brand,.nav-item{
  padding-top: 15px;
  padding-bottom: 15px;
}
.open{
  background-color: red;
}
.bg-light {
  background-color: #6675df!important;
}
.dropdown-link {
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  transition: color 0.2s;
}
.dropdown-link:hover{
  color: white;
}
