<div class="container-custom mt-3">
  <div class="row">
    <div class="flex">
      <div class="flex-container" *ngFor="let track of tracks">
        <div class="content" *ngFor="let item of items1" mwlDroppable (drop)="dropsell($event, item, track.trackId)"></div>
      </div>
      <div class="shopping-list" *ngFor="let shopping of dragItems" mwlDraggable
           (dragEnd)="dragEnd($event, shopping)" [style.left]="calculateLeft(shopping)" [style.top]="calculateTop(shopping)">
        <div class="text-center">
          <p>{{shopping.name}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
<!--[ngStyle]="{left: sell.x +'px', top: sell.y + 'px'}"-->
