<div style="background-color: #666666;">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
      <form  class="login100-form validate-form" #resetPassword="ngForm" (ngSubmit)="resetPass()">
        <span class="login100-form-title mb-2">
            Reset password
					</span>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" #email="ngModel" ngModel email required>
          <div class="invalid-feedback d-inline" *ngIf="!email.valid && email.touched">
            <span *ngIf="email?.errors.required">
              Please enter Email
            </span>
            <span *ngIf="email?.errors.email">
              Please enter valid Email
            </span>
        </div>
        </div>
        <div class="container-login100-form-btn mb-2">
        <button type="submit" [disabled]="!resetPassword.valid" class="login100-form-btn" [ngClass]="{'disable': !resetPassword.valid}">
          Reset password
        </button>
        </div>
        <div class="flex-container">
          <div class=" p-t-46 p-b-20">
            <a class="txt2" (click)="backToAuth()">
              <i class="fa fa-arrow-left"></i>
              Back to login page
            </a>
          </div>
        </div>
      </form>
        <div class="login100-more">
        </div>
    </div>
  </div>
</div>
</div>
