<div class="background" (click)="closeAlert()"></div>
<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" (click)="closeAlert()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       {{message}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeAlert()">Close</button>
      </div>

    </div>
  </div>
</div>
